Pattern==2.6
addict==0.2.7
decorator==3.4.0
matplotlib==1.4.2
mock==1.0.1
networkx==1.9.1
nltk==3.0.1
nose==1.3.4
numpy==1.9.1
pymongo==2.7.2
pyparsing==2.0.3
python-dateutil==2.4.0
python-termstyle==0.1.10
pytz==2014.10
rednose==0.4.1
six==1.9.0
textblob==0.9.0
textblob-aptagger==0.2.0
wsgiref==0.1.2
